<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="test.listeners.TestListeners"/>
        <listener class-name="test.listeners.AnnotationTransformer"/>
    </listeners>
    <test verbose="2"
          preserve-order="true"
          name="C:/Users/karap/IdeaProjects/XYZ_Bank_Genspark">
        <classes>
            <class name="test.java.BankManagerTests">
                <methods>
                    <include name="login"/>
                    <include name="addCustomer"/>
                    <include name="openAccounts"/>
                    <include name="searchSection"/>
                </methods>
            </class>
            <class name="test.java.CustomerTests">
                <methods>
                    <include name="customerLogin"/>
                    <include name="depositSection"/>
                    <include name="withdrawalSection"/>
                    <include name="transactionSection"/>
                    <include name="navBar"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>